/* defaults.css */
@layer defaults {
  .navbar {
    background: var(--bg-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100vw;
    overflow: hidden;
  }

  .navbar__link {
    padding: 14px 16px;
    text-decoration: none;
    color: var(--color-nav);
    width: 100%;
  }

  .navbar__link:hover {
    background: var(--bg-nav-links);
  }

  .navbar__link-icon:hover {
    background: var(--bg-nav-icon);
  }

  .navbar__link:not(:first-child) {
    display: none;
  }

  .navbar .navbar__link-icon {
    color: inherit;
    padding: 14px 16px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .navbar.responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .navbar.responsive .navbar__link:not(:first-child) {
    display: block;
  }

  @media screen and (min-width: 900px) {
    .navbar__link {
      text-align: center;
    }
    .navbar__link:not(:first-child) {
      display: block;
    }

    .navbar .navbar__link-icon {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    body {
      width: 1200px;
      margin: auto;
    }

    .navbar {
      width: 1200px;
    }
  }
}
